#everything {
  display: flex;
  flex-wrap: wrap;
}

/*-----------------Song Creater-----------------*/

/*this is the box that contains the media player and the song creater*/
#admin-box {
  display: flex;
  flex-wrap: wrap;

  width:300px;
  height:146px;

  background-color: lightblue;

  text-align: center;
}

/*this is the box for the inoputs used to create the song and the button*/
#creater-box {
  display: flex;
  flex-wrap:flex;

  /*border:1px solid darkblue;*/
  margin-bottom: 30px;
}

#name-creater-box {
  width: 75%;
}

#song-name {
  width: 100%;
  height: 40.15%;
}

#create-song {
  width: 100%;
  height: 40.15%;
}

#create-song-button-box {
  width: 25%;
}

#create-song-button {
  height: 100%;
}

#song-name, #create-song, #song-to-play {
  padding-left: 30px;
}



/*-----------------////////////-----------------*/


/*-----------------Media Player-----------------*/
#media-player {
  display: flex;
  flex-wrap:flex;

  /*border:1px solid darkblue;*/
}

#song-to-play {
  height: 89.5%;
  width: 100%;
}

#play-song, #stop-song {
  width: 50%;
}

#stop-song {
  padding-right: 15px;
}







#outer-piano {
  width: 48.2%;
}


#piano-case {
  padding-top: 60px;
  padding-bottom: 30px;
  width:750px;
  height:300px;
  border: 1px solid black;
  /*margin:auto;*/
  background-color: #17120c;
}

#button-cont {
  display: flex;
  justify-content:space-around;
  margin-top: -10px;
  margin-bottom: 20px;
}

#play {
  background-color: green;
  color: green;
  border-radius: 50%;
  width:50px;
  height: 50px;
  /*background-color: white;*/
}

.fa-play-circle {
  color:black;
}


#notes-guide{
  color:white;
}

#record {
  opacity: 1;
  margin-top: 20px;
  margin-left: 17px;
  /*When this is checked, we will have the color and appeareance of button change to reflect that*/
}

#rec-button {
  width:50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
}

#rec-button input[type=checkbox]:checked {
  opacity: 0;
}


/*#rec-label {
  color:red;
  margin-right: 20px;
}*/

#piano-body { 
  width:550px;
  height:300px;
  display:flex;
  margin:auto;
  /*border-style:inset;
  border-width: 5px 5px 0px 5px;*/
  color:red;
}

.white-key {
  width:15%;
  height:100%;
  border: 1px solid black;
  z-index:1;
  background-color: #fffff0;
}

.white-key:hover {
  background-color: #e3e3da;
}

.white-key:active {
  height:95%;
  background-color: #c5c5b7;
}

.active-white-key {
  height:95%;
  background-color: #c5c5b7;

}

.black-key {
  width:10%;
  height:75%;
  border: 1px solid black;
  background-color:black;
  position:relative;
  right:0px;
}
 

#black-keys-cont {
  position:relative;
  width:505px;
  height:230px;
  display:flex;
  margin:auto;
  justify-content:space-between;
  position:relative;
  bottom:300px;
  left:40px;
  z-index: 2;
}

.black-key {
  background-color:black;
  width:6%;
  height:100%;
  z-index: 2;
}

#b3, #b7, #b10, #b14 {
   visibility: hidden;
}